<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Restaurant Admin', dishes_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Dishes', dishes_path %></li>
        <li><%= link_to 'Restaurant', restaurants_path %></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><%= link_to 'View shop', root_path %></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>